@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-sub-black text-white font-mono overflow-hidden;
  }
}

/* Custom scrollbar for cyberpunk feel */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #000; 
}
::-webkit-scrollbar-thumb {
  background: #333; 
}
::-webkit-scrollbar-thumb:hover {
  background: #00ff41; 
}
